* {
    margin: 0;
    padding: 0;
    outline: 0;
}

body {
    font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
    color: #e5e5e5;
    font-size: 12px;
    /*background: #bfbfbf;*/
}

html, body, .wrap {
    height: 100%;
}

h1, h2 {
    font-weight: 300;
    margin: 0 0 15px 0;
}

h1 {
    font-size: 36px;
    letter-spacing: -1px;
    line-height: 100%;
}

h2 {
    font-size: 24px;
}

p {
    margin: 0 0 15px 0;
}

a {
    color: #3e3e3e;
}

.clear {
    clear: both;
}

.wrap {
    width: 100%;
    /*max-width: 1600px;*/
    z-index: 10;
    position: relative;
    margin: 0 auto;
    padding: 0;

}

.section {
    width: 100%;
    /*max-width: 1600px;*/
    z-index: 10;
    position: relative;
    margin: 0 auto;
    padding: 0 0 20px 0;
    height: 500px;
}

.inner {
    margin: 0 auto;
    position: relative;
    padding: 30px 0;
    font-size: 18px;
    font-weight: 300;
    max-width: 1600px;
}

.inner:after {
    content: "";
    display: table;
    clear: both;
}

.subMenu {
    z-index: 1000;
    width: 100%;
    background: black;
    max-width: 1600px;
    margin: 0 10%;
}

.subMenu .inner {
    padding: 0;
    font-weight: 400;
    margin: 0 auto;
}

.subNavBtn {
    display: block;
    width: 21%;
    float: left;
    margin: 0;
    text-decoration: none;
    font-size: 1em;
    padding: 1em 2% 0 2%;
    text-align: center;
    color: #fff;
}

.subMenu a:hover {
    background: #111;
}

.active {
    background: #333;
}

.end {
    margin: 0;
}

/* SECTIONS */
.brand {
    background: #fff;
    color: #3d3d3d;
}

.works {
    background: #222;
    color: #fff;

}

.testimonials {
    background: #313131;
}

.testimonials a {
    color: #fff;
}

.contact {
    background: #1b83b3;
}

.s4 {
    background: #5aa3c4;
}

.s5 {
    background: #bce1f1;
    color: #3d3d3d;
}

.s6 {
    background: #161616;
}

.brand {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 94%;
    text-align: center;
}

.brand h1 {
    font-weight: 100;
    text-transform: uppercase;
    color: black;
}

.brand #intro {
    display: block;
    margin-top: 1.2em;
}

.logo_sec img {
    height: 270px;
    width: 270px;
}

.brand a {
    text-decoration: none;
}





