* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
    color: #e5e5e5;
    font-size: 12px;
    /*background: #bfbfbf;*/
    /*-webkit-transform: translateZ(0);*/
}

html, body, .wrap {
    height: 100%;
}

h1, h2 {
    font-weight: 300;
    margin: 0 0 15px 0;
}

h1 {
    font-size: 36px;
    letter-spacing: -1px;
    line-height: 100%;
}

h2 {
    font-size: 24px;
}

p {
    margin: 0 0 15px 0;
}

a {
    color: #3e3e3e;
}

.clear {
    clear: both;
}

.centered {
    text-align: center;
    margin: 0 auto;
}

.wrap {
    width: 100%;
    /*max-width: 1600px;*/
    z-index: 10;
    position: relative;
    /*margin: 0 2em;*/
    padding: 0;

}

.section {
    width: 100%;
    /*max-width: 1600px;*/
    z-index: 10;
    position: relative;
    margin: 0 auto;
    padding: 0 0 20px 0;
    min-height: 500px;
}

.inner h1 {
    margin: 1em;
    text-align: left;
}

.inner {
    margin: 0 auto;
    position: relative;
    padding: 30px 0;
    font-size: 18px;
    font-weight: 300;
    max-width: 1600px;
    text-align: center;
}

.inner:after {
    content: "";
    display: table;
    clear: both;
}

nav {
    z-index: 1000;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
}

nav .inner {
    padding: 0;
    font-weight: 400;
    /*margin: 0 10%;*/
    height: 3em;
}

nav a {
    width: 20%;
    float: left;
    text-decoration: none;
    font-size: 1em;
    padding: 1em 0 0.8em 0;
    text-align: center;
    color: #fff;
    background: black;
    border-right: 1px solid #333333;
}

nav a:hover {
    background: #222;
}

.active {
    background: #333;
}

/* SECTIONS */
#home {
    background: #fff;
    color: #3d3d3d;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#home .inner h1 {
    margin-top: 1em;
    text-align: center;
}

#home h1 {
    font-weight: 100;
    text-transform: uppercase;
    color: black;
}

#home #intro {
    display: block;
    margin-top: 1.2em;
}

.logo_sec img {
    height: 270px;
    width: 270px;
}

#home a {
    text-decoration: none;
}

#works {
    background: #222;
    color: #fff;

}

#testimonials {
    background: #F4F4F4;
    color: #444142;
}

#testimonials a {
    color: #fff;
}

#expertise {
    background: #222222;
    /*color: #444142;*/
}

#contact {
    background: #F4F4F4;
    color: #444142;
}

/*Hover Effects*/

.view {
    margin: 0.625em;
    float: none;
    border: 0.5em solid #fff;
    overflow: hidden;
    position: relative;
    text-align: center;
    box-shadow: 1px 1px 2px #e6e6e6;
    cursor: default;
    display: inline-block;
    /*background: #fff url(../images/bgimg.jpg) no-repeat center center*/
}

.view .mask, .view .content {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0
}

.view img {
    display: block;
    position: relative
}

.view h3 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.8);
    /*margin: 20px 0 0 0*/
}

.view p {
    font-family: Georgia, serif;
    font-style: italic;
    font-size: 12px;
    position: relative;
    color: #fff;
    padding: 10px 20px 20px;
    text-align: center
}

.view a.info {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    background: #000;
    color: #fff;
    text-transform: uppercase;
    box-shadow: 0 0 1px #000
}

.view a.info:hover {
    box-shadow: 0 0 5px #000
}

.view-fourth img {
    transition: all 0.4s ease-in-out 0.2s;
    opacity: 1;
}

.view-fourth .mask {
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0;
    transform: scale(0) rotate(-180deg);
    transition: all 0.4s ease-in;
    border-radius: 0px;
}

.view-fourth:hover h3 {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    background: transparent;
    /*margin: 20px 40px 0px 40px;*/
    transition: none;
    transform: none;
}

.view-fourth p {
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.view-fourth a.info {
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.view-fourth:hover .mask {
    opacity: 1;
    transform: scale(1) rotate(0deg);
    transition-delay: 0.2s;
}

.view-fourth:hover img {
    transform: scale(0);
    opacity: 0;
    transition-delay: 0s;
}

.view-fourth:hover p,
.view-fourth:hover a.info {
    opacity: 1;
    transition-delay: 0.5s;
}

/*Testimonial boxes*/

.box {
    width: 17em;
    text-align: justify;
    /*font-size: small;*/
    border: 0.5em solid #444142;
    box-shadow: 1px 1px 2px #e6e6e6;
    /*float: none;*/
    padding: 1em;
    margin: 0.625em;
    display: inline-block;
    cursor: pointer;
}

.box .title {
    font-weight: bold;
    font-size: larger;
    margin-bottom: 1em;
    font-style: italic;
}

.box .title:before, .box .title:after {
    content: '"';
}

.box .client:before {
    content: "-";
    padding-top: 1em;
}

.box .person:after {
    content: "\a";
    white-space: pre;
}

.box .client {
    padding-top: 1em;
}

.line-clamp {
    position: relative;
    overflow: hidden;
    height: 3.6em; /* exactly three lines */
}

.line-clamp:after {
    content: "";
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 70%;
    height: 1.2em;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), #F4F4F4 50%);
}

@supports (-webkit-line-clamp: 3) {
    .line-clamp {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        max-height: 3.6em; /* I needed this to get it to work */
        height: auto;
    }

    .line-clamp:after {
        display: none;
    }
}

/*.box:hover ~ .box {*/

/*}*/

/*.box:hover {*/
/*width: 100%;*/
/*height: 100%;*/
/*}*/

/*Expertise*/

.item {
    /*float: left;*/
    padding: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 6em;
    flex-direction: column;
    display: inline-block;
}

.item a {
    color: #eee;
    text-decoration: none;
}

.item img {
    height: 4em;
    padding-bottom: 0.5em;
}

/*Maps*/

#map-canvas img {
    max-width: none !important;
    background: none !important
}

#map-container, #map-canvas {
    margin: 0;
    padding: 0;
    height: 100%;
}

#map-container {
    overflow: hidden;
    height: 20em;
}

/*Contact*/

.address-container {
    float: left;
    padding: 2em;
    width: 50%;
}

.address {
    float: left;
    padding: 1em;
    text-align: left;
}

.contact-info {
    float: right;
    padding: 1em;
    text-align: right;
}

form.message {
    display: inline-block;
    width: 50%;
}

form.message * {
    padding: 1em;
    margin: 2em 2%;
    display: block;
    width: 96%;
}

/*form.message input[type=submit] {
    max-width: 30em;
    width: 100%;
}*/

form.message input:first-child {
    margin-top: 0;
}

.top {
    margin: 0 !important;
    position: fixed !important;
    top: 0;
}

/*.section-content {*/
/*display: flex;*/
/*flex-flow: row wrap;*/
/*justify-content: flex-start;*/
/*text-align: center;*/
/*}*/

@media only screen and (min-width: 1374px) {
    #works .inner {
        text-align: left;
    }
}

@media only screen and (min-width: 1542px) {
    #testimonials .inner {
        text-align: left;
    }
}

/*Move menu to top when invisible checkbox is checked*/
/*nav input[type=checkbox]:checked ~ div.inner {*/
/*top: 0;*/
/*display: block;*/
/*}*/

nav input[type=checkbox]:checked ~ label {
    transform: rotate(180deg);
}

@media screen and (max-width: 1000px) {
    .address-container {
        width: 100%;
    }

    form.message {
        width: 100%;

    }
}

@media screen and (min-width: 44em) {
    nav .small {
        display: none !important;
    }
}

@media screen and (max-width: 44em) {
    nav .big {
        display: none;
    }

    nav .small {
        display: none;
        width: 100%;
        height: 95%;
        position: fixed;
        bottom: 0;
        left: 0;
        opacity: 0.9;
        -webkit-animation: movedown 2s linear forwards;
        -moz-animation: movedown 2s linear forwards;
        -ms-animation: movedown 2s linear forwards;
        -o-animation: movedown 2s linear forwards;
        animation: movedown 2s linear forwards;
    }

    nav {
        width: 100%;
        display: flex;
        text-align: center;
        justify-content: center;
    }

    nav a {
        display: block;
        /*float: none;*/
        width: 100%;
        height: 20%
    }

    .show-menu {
        display: block;
        padding: 0.25em 0.25em 0 0.25em;
        background: black;
        /* color: white; */
        /* height: 3em; */
        /* margin: 0 auto; */
        position: fixed;
        bottom: 0;
        opacity: 0.75;
        /* line-height: 2em; */
        font-size: 2em;
        width: 2.5em;
        right: 50%;
        margin-right: -1.25em;
    }

    .contact-info {
        clear: both;
        text-align: left;
        float: left;
        padding-left: 0;
    }

    .address {
        padding-left: 0;
    }

}

/* Advanced Checkbox Hack */
body {
    -webkit-animation: bugfix infinite 1s;
}

@-webkit-keyframes bugfix {
    from {
        padding: 0;
    }
    to {
        padding: 0;
    }
}

nav input[type=checkbox] {
    position: absolute;
    top: -9999px;
    left: -9999px;
}

nav label {
    height: 5%;
    display: none;
    cursor: pointer;
    user-select: none;
}

.show-menu path {
    stroke: white;
}

form.message h3 {
    margin: 0.5em 0 0 0;
    padding-bottom: 0;
}

#modal {
    background: white;
    border: 1px solid #CCC;
    position: fixed;
    width: 50%;
    top: 50%;
    left: 50%;
    margin: -9em 0 0 -25%;
    /*height: 50%;*/
    /* Embiggen */
    transform: scale(1.5); /* prefix me */

    /* Hidden */
    opacity: 0;
    pointer-events: none;
}

.dialog-is-open .wrap {
    /* Blur and de-color */
    -webkit-filter: blur(5px) grayscale(50%);
    transform: scale(0.9);
    cursor: pointer;
    background-color: black;
    opacity: .5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
}

.dialog-is-open #modal {

    /* Regular size and visible */
    /*transform: scale(1); *//* prefix me */
    opacity: 1;

    /* Clickable */
    pointer-events: auto;
    z-index: 1000;

}

.wrap, #modal {

    transition: all 0.4s ease; /* prefix me */

}

#modal .box {
    width: 100%;
    height: 100%;
    color: black;
    border: none;
    cursor: auto;
    box-shadow: none;
}

#modal .line-clamp {
    -webkit-line-clamp: inherit;
    max-height: none;
    height: auto;
}

#modal .line-clamp:after {
    display: none;
}

#modal-body {
    float: left;
    width: 94%;
}

#modal-close {
    margin: 1%;
    float: right;
    cursor: pointer;
    width: 2%;
}

#modal-close svg {
    width: 24px;
    height: 100%;
}