* {
    margin: 0;
    padding: 0;
    outline: 0;
}

body {
    font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
    color: #e5e5e5;
    font-size: 12px;
    /*background: #bfbfbf;*/
}

html, body, .wrap {
    height: 100%;
}

h1, h2 {
    font-weight: 300;
    margin: 0 0 15px 0;
}

h1 {
    font-size: 36px;
    letter-spacing: -1px;
    line-height: 100%;
}

h2 {
    font-size: 24px;
}

p {
    margin: 0 0 15px 0;
}

a {
    color: #3e3e3e;
}

.clear {
    clear: both;
}

.centered {
    text-align: center;
    margin: 0 auto;
}

.wrap {
    width: 100%;
    /*max-width: 1600px;*/
    z-index: 10;
    position: relative;
    margin: 0 auto;
    padding: 0;

}

.section {
    width: 100%;
    /*max-width: 1600px;*/
    z-index: 10;
    position: relative;
    margin: 0 auto;
    padding: 0 0 20px 0;
    min-height: 500px;
}

.section .inner h1 {
    margin-top: 1em;
}

.inner {
    margin: 0 auto;
    position: relative;
    padding: 30px 0;
    font-size: 18px;
    font-weight: 300;
    max-width: 1600px;
}

.inner:after {
    content: "";
    display: table;
    clear: both;
}

nav {
    z-index: 1000;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
}

nav .inner {
    padding: 0;
    font-weight: 400;
    /*margin: 0 10%;*/
    height: 3em;
}

nav a {
    width: 20%;
    float: left;
    text-decoration: none;
    font-size: 1em;
    padding: 1em 0 0.8em 0;
    text-align: center;
    color: #fff;
    background: black;
    border-right: 1px solid #333333;
    box-sizing: border-box;
}

nav a:hover {
    background: #222;
}

.active {
    background: #333;
}

/* SECTIONS */
#home {
    background: #fff;
    color: #3d3d3d;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#home .inner h1 {
    margin-top: 1em;
}

#home h1 {
    font-weight: 100;
    text-transform: uppercase;
    color: black;
}

#home #intro {
    display: block;
    margin-top: 1.2em;
}

.logo_sec img {
    height: 270px;
    width: 270px;
}

#home a {
    text-decoration: none;
}

#works {
    background: #222;
    color: #fff;

}

#testimonials {
    background: #F4F4F4;
    color: #444142;
}

#testimonials a {
    color: #fff;
}

#expertise {
    background: #222222;
    /*color: #444142;*/
}

#contact {
    background: #F4F4F4;
    color: #444142;
}

/*Hover Effects*/

.view {
    width: 300px;
    height: 241px;
    margin: 0.625em;
    float: left;
    border: 0.5em solid #fff;
    overflow: hidden;
    position: relative;
    text-align: center;
    box-shadow: 1px 1px 2px #e6e6e6;
    cursor: default;
    /*background: #fff url(../images/bgimg.jpg) no-repeat center center*/
}

.view .mask, .view .content {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0
}

.view img {
    display: block;
    position: relative
}

.view h3 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.8);
    /*margin: 20px 0 0 0*/
}

.view p {
    font-family: Georgia, serif;
    font-style: italic;
    font-size: 12px;
    position: relative;
    color: #fff;
    padding: 10px 20px 20px;
    text-align: center
}

.view a.info {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    background: #000;
    color: #fff;
    text-transform: uppercase;
    box-shadow: 0 0 1px #000
}

.view a.info:hover {
    box-shadow: 0 0 5px #000
}

.view-fourth img {
    transition: all 0.4s ease-in-out 0.2s;
    opacity: 1;
}

.view-fourth .mask {
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0;
    transform: scale(0) rotate(-180deg);
    transition: all 0.4s ease-in;
    border-radius: 0px;
}

.view-fourth:hover h3 {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    background: transparent;
    /*margin: 20px 40px 0px 40px;*/
    transition: none;
    transform: none;
}

.view-fourth p {
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.view-fourth a.info {
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.view-fourth:hover .mask {
    opacity: 1;
    transform: scale(1) rotate(0deg);
    transition-delay: 0.2s;
}

.view-fourth:hover img {
    transform: scale(0);
    opacity: 0;
    transition-delay: 0s;
}

.view-fourth:hover p,
.view-fourth:hover a.info {
    opacity: 1;
    transition-delay: 0.5s;
}

/*Testimonial boxes*/

.box {
    width: 17em;
    text-align: justify;
    /*font-size: small;*/
    border: 0.5em solid #444142;
    box-shadow: 1px 1px 2px #e6e6e6;
    float: left;
    padding: 1em;
    margin: 0.625em;
}

.box .title {
    font-weight: bold;
    font-size: larger;
    margin-bottom: 1em;
    font-style: italic;
}

.box .title:before, .box .title:after {
    content: '"';
}

.box .client:before {
    content: "-";
    padding-top: 1em;
}

.box .person:after {
    content: "\a";
    white-space: pre;
}

.box .client {
    padding-top: 1em;
}

/*Expertise*/

.item {
    float: left;
    padding: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 6em;
    flex-direction: column;
}

.item a {
    color: #eee;
    text-decoration: none;
}

.item img {
    height: 4em;
    padding-bottom: 0.5em;
}

/*Maps*/

#map-canvas img {
    max-width: none !important;
    background: none !important
}

#map-container, #map-canvas {
    margin: 0;
    padding: 0;
    height: 100%;
}

#map-container {
    overflow: hidden;
    height: 20em;
}

/*Contact*/

.address-container {
    max-width: 40em;
    float: left;
    padding: 2em;
}

.address {
    width: 18em;
    float: left;
    padding: 1em;
}

.contact-info {
    width: 18em;
    float: left;
    padding: 1em;
    text-align: right;
}

form.message {
    padding-top: 2em;
    float: left;
    width: 30em;
}

form.message * {
    padding: 1em;
    margin: 2em;
    display: block;
    width: 28em;
}

form.message input[type=submit] {
    width: 30em;
}

form.message input:first-child {
    margin-top: 0;
}

.top {
    margin: 0 !important;
    position: fixed !important;
    top: 0;
}