html {
    font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
    /*color: #e54d36;*/
    color: #333;
    height: 100%;
}

body, #wrapper{
   height: 100%;
   margin: 0;
   padding: 0;
}

a{
  color: #333;
  text-decoration: none;
}

a:hover{
  /*text-decoration: underline;*/
}

#left{
    width: 50%;
    /*display: inline-block;*/
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    height: 100%;
    text-align: center;


}

#left h1{
    font-weight: 100;
    text-transform:uppercase;
    color: black;
}

#right{
    width: 50%;
    float: right;
    display: inline-block;
    background-color: #333;
    color: #e54d36;
    height: 100%;
    background-color: #111;
    color: white;
}

#intro{

    margin-top: 1.2em;
}
