html {
    font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
    /*color: #e54d36;*/
    color: #333;
    height: 100%;
}

body, #wrapper {
    height: 100%;
    margin: 0;
    padding: 0;
}

a {
    color: #333;
    text-decoration: none;
}

a:hover {
    /*text-decoration: underline;*/
}

#brand-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;

}

#brand-wrapper h1 {
    font-weight: 100;
    text-transform: uppercase;
    color: black;
}

#brand-wrapper #intro {
    display: block;
    margin-top: 1.2em;
}

.logo_sec img {
    height: 270px;
    width: 270px;
}

nav {
    height: 40px;
    position: fixed;
    bottom: 0%;
    width: 100%;
    /*background-color: #393838;*/
    opacity: 1;
    border-top: 1px solid #CCC;
}

nav li {
    list-style: none;
    display: inline-block;
    /* TODO */
    width: 22%;
    padding: 1%;
    border-right: 1px solid #CCC;
    text-align: center;
    background-color: #333333;
    color: white;
}

nav li a, nav li a:visited {
    color: white;
}

nav li:last-child {
    border: none;
}

#section-works {

    background-color: #333;
}

.section{
    height: 80%;
}

#right {
    display: inline-block;
    background-color: #333;
    color: #e54d36;
    height: 100%;
    background-color: #111;
    color: white;
}

.tab-holder {
    width: auto;
    text-align: right;
    padding: 20px;
}

.tab-holder .tab {
    margin: 0 0 0 10px;
    text-transform: uppercase;
    padding: 5px 11px;
    border-radius: 4px;
}

.tab.active {
    background: #e54d36;
    border-bottom: 4px solid #c0392b;

}

.tab-container {
    padding: 30px;
}

h1 {
    font-weight: normal
}

li {
    list-style: none;
}

ul {
    padding: 0;
    margin: 0;
}

.contact {
    width: 100%;
}

.contact li {
    margin: 20px 0;
}

.contact label {
    display: block;
}

.contact input {
    border: none;
    box-shadow: none;
    padding: 7px 10px;
    width: 100%;
}

.contact textarea {
    width: 100%;
    padding: 10px;
    resize: none;
    height: 100px;
}

.btn {
    background: #e74c3c;
    color: #FFF;
    padding: 10px 20px !important;
    border-radius: 4px;
    letter-spacing: 1px;
    border-bottom: 4px solid #c0392b;
    text-transform: uppercase;
    width: auto !important;
}

.contact .btn {
    background: #c0392b;
}

.tab-detail-holder {
    display: flex;
    /*justify-content: center;*/
    align-items: center;
    width: 50%;
    height: 100%;
}


.section {
	width: 100%;
	max-width: 1600px;
	min-width: 960px;
	z-index: 10;
	position: relative;
	margin: 0 auto;
	padding: 0 0 20px 0;
	height: 500px;
}


.inner {
	width: 960px;
	margin: 0 auto;
	position: relative;
	min-height: 50px;
	padding:30px 0;
	font-size: 18px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}

.inner:after {
	  content: "";
	  display: table;
	  clear: both;
}


.subMenu {
	height: 50px;
	z-index: 1000;
	width: 100%;
	background: #0977bc;
}

.subMenu .inner {
	padding:0;
	font-weight: 400;
	margin: 0 auto;
}


.subNavBtn {
	display: block;
	height: 35px;
	width: 10%;
	float: left;
	margin: 0px 0px 0 0;
	text-decoration: none;
	font-size: 14px;
	padding: 15px 2% 0 2%;
	text-align: center;

	color: #fff;
}
.subMenu a:hover {
	background: #1783c7;
}

.active {
	background: #25aae1;
}
.end {
	margin: 0;
}

* {margin: 0; padding: 0; outline: 0;}


body {
	font-family: Helvetica, Arial, Verdana, sans-serif;
	color: #e5e5e5;
	font-size: 12px;
	background:#bfbfbf;


}


h1, h2 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	margin:0 0 15px 0;
}


h1 {
	font-size: 36px;
	letter-spacing: -1px;
	line-height: 100%;
}


h2 {
	font-size: 24px;
}


p {
	margin: 0 0 15px 0;
}

a {
	color: #3e3e3e;
}



.clear {
	clear: both;
}
.wrap {
	width: 100%;
	max-width: 1600px;
	min-width: 960px;
	z-index: 10;
	position: relative;
	margin: 0 auto;
	padding: 0;

}



/* SECTIONS */
.sTop {
	min-height: 130px;
	background:#fff;
	color:#3d3d3d;
	padding: 50px 0;
	height: 300px;

}

.s1 {
	background:#184764;
	color:#fff;

}


.s2 {
	background: #313131;
}
.s2 a {
	color: #fff;
}

.s3 {
	background: #1b83b3;
}


.s4 {
	background: #5aa3c4;
}



.s5 {
	background: #bce1f1;
	color: #3d3d3d;
}

.s6 {
	background: #161616;
}





