body{
  font: 300 1em/1.5em Sans-Serif;
  background: #B22222;
  color: #fff;
}

a{
  color: #fff;
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}

header{
  margin: 0;
  padding: 0;
  color: #fff;
  text-align: center;
}

.logo_sec, .nav{
  display: inline-block;
}

.center{
  max-width: 90em;
}

h1{
  line-height: 2em;
}

h3{
  font-size: 1.4em;
  border-bottom: 1px solid #f00;
  padding-bottom: 6px;
}

.nav{
  padding: 15px 5px;
  margin-top: 22px;
}

.nav li{
  display: inline-block;
  margin: 4px 10px;
}

.nav li a{
  text-decoration: none;
  padding: 10px 22px;
  color: #fff;
  font-size: 1.8em;
  border: 1px solid #fff;
}

.nav li a:hover, .nav li.active a{
  color: #B22222;
  background: #fff;
}

.tac{
  text-align: center;
}

.qr{
  margin-right: 10px;
}

.intro{
  font: 300 1em/1.5em Georgia, "Times New Roman";
  font-weight: 300;
  color: #f00;
  line-height: 3em;
  color: #fff;
  margin-bottom: 20px;
}

.intro strong{
  font-size: 1.5em;
  padding: 2px 8px;
}

.awesome{
  color: #fff;
  display: inline-block;
  margin: 10px 0 15px 0;
  font-family: Georgia, "Times New Roman";
}

.awesome span{
  display: inline-block;
  margin: 0px;
  font-size: 2em;
  padding: 30px;
  border: 1px solid #f00;
  margin-right: -5px;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.awesome span:last-child{
  margin-right: 0;
}

.awesome span:nth-child(odd){
  -webkit-transform: skewY(10deg);
  -moz-transform: skewY(10deg);
  -o-transform: skewY(10deg);
  -ms-transform: skewY(10deg);
  transform: skewY(10deg);
}

.awesome span:nth-child(even){
  -webkit-transform: skewY(-10deg);
  -moz-transform: skewY(-10deg);
  -o-transform: skewY(-10deg);
  -ms-transform: skewY(-10deg);
  transform: skewY(-10deg);
}

input[type="text"], input[type="email"], textarea{
  border: 1px solid #fff;
  width: 90%;
  padding: 4px;
  margin-bottom: 10px;
  background: #eee;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

input[type="text"]:focus, input[type="email"]:focus, textarea:focus{
  background: #fff;
}

textarea{
  height: 7em;
}

.btn{
  padding: 4px 10px;
  background: none;
  border: 1px solid #fff;
  color: #fff;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.btn:hover{
  background: #fff;
  color: #B22222;
}

.content{
  font-size: 0.9em;
}

/* ======================================= 
   media queries
   ======================================= */


/* tablet size */   
@media screen and (max-width: 48em ) {
  
  /* css */
  
}   
    
/* smartphone size */
@media screen and (max-width: 36.5em ) {
  
  /* css */

}