* {box-sizing: border-box;}
html,body,.wrapper{
  height: 100%;
}
.block{
  height: 42%;
  float: left;
  text-align: center;
  vertical-align: middle;
}
.header{
  width: 100%;
  height: 12%;
  background: #C93929
}
.header h1{
  color: #fff;
}
.header h1 a{
  color: #fff;
  text-decoration: none;
}
.header h1 a span{
  vertical-align: top;
line-height: 1.4em;
font-size: 1.4em;
}
.section{
  width: 32.33%;
  margin: 0.5%;
  color: #fff;
  font-size: 2.5em;
  display: table;
  transition: all 0.8s 0.1s;
  transition-timing-function: cubic-bezier(0.7,0,0.3,1);
  cursor: pointer;
  opacity: 1;
}
.section h1{
  display: table-cell;
  vertical-align: middle;

}
#about{
  background: #7CBB00;
}
#solutions{
  background: #009CEA;
}
#products{
  background: #A903B3;
}
#clients{
  background: #D88112;
}
#resources{
  background: #333;
}
#contact{
  background: #BCAB37;
}
.section.active{
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 1;
  transition: all 0.8s 0.1s;
  transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}
.section.inactive{
  transition: all 0.8s 0.1s;
  transition-timing-function: cubic-bezier(0.7,0,0.3,1);
  opacity: 0;
  transform: scale(0);
}
.content{
  position: relative;
  top: 0;
  left: 0;
  height: 86%;
  width: 99%;
  clear: both;
}
.panel{
    display: none;
}
