html {
    font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
    /*color: #e54d36;*/
    color: #333;
    height: 100%;
}

body, #wrapper{
   height: 100%;
   margin: 0;
   padding: 0;
}

a{
  color: #333;
  text-decoration: none;
}

a:hover{
  /*text-decoration: underline;*/
}

#left{
    width: 50%;
    /*display: inline-block;*/
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    height: 100%;
    text-align: center;


}

#left h1{
    font-weight: 100;
    text-transform:uppercase;
    color: black;
}

#right{
    width: 50%;
    float: right;
    display: inline-block;
    background-color: #333;
    color: #e54d36;
    height: 100%;
    background-color: #111;
    color: white;
}

#intro{

    margin-top: 1.2em;
}


.tab-holder{width: auto;
text-align: right;
padding: 20px;
}
.tab-holder .tab{
    margin: 0 0 0 10px;
text-transform: uppercase;
padding: 5px 11px;
border-radius:4px;}

.tab.active{background:#e54d36;
border-bottom: 4px solid #c0392b;

}

.tab-container{padding:30px;}

h1{font-weight: normal}
li{list-style:none;}
ul{padding:0; margin:0;}

.contact{width:100%;}
.contact li{margin:20px 0;}
.contact label{display:block;}
.contact input{border:none; box-shadow:none; padding:7px 10px; width:100%;}
.contact textarea{width: 100%;
padding: 10px;
resize: none;height:100px;
}

.btn{background: #e74c3c;
color: #FFF;
padding: 10px 20px !important;
border-radius: 4px;
letter-spacing: 1px;
border-bottom: 4px solid #c0392b;
text-transform:uppercase;
width:auto !important;
}
.contact .btn{background:#c0392b; }
.tab-detail-holder{display: flex;
    /*justify-content: center;*/
    align-items: center;
width:50%;
height:100%;}